{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
  },
}
